In [38]:
import pandas as pd
import numpy as np
from pprint import pprint as print
import sqlite3 as sql

In [43]:
from urllib.request import urlretrieve
url = "https://github.com/anvarnarz/praktikum_datasets/raw/main/electricity.db"
urlretrieve(url,'electricity.db') # faylni yuklab olish

('electricity.db', <http.client.HTTPMessage at 0x7fd66ccff3d0>)

In [44]:
db = sql.connect("electricity.db")
cursor=db.cursor()

In [45]:
cursor.execute('select name from sqlite_master where type="table";')
cursor.fetchall()

[('elect',)]

In [48]:
cursor.execute('pragma table_info(elect);')
cursor.fetchall()

[(0, 'index', 'INTEGER', 0, None, 0),
 (1, 'country', 'TEXT', 0, None, 0),
 (2, 'code', 'TEXT', 0, None, 0),
 (3, 'year', 'INTEGER', 0, None, 0),
 (4, 'coal', 'REAL', 0, None, 0),
 (5, 'gas', 'REAL', 0, None, 0),
 (6, 'hydro', 'REAL', 0, None, 0),
 (7, 'renewable_other', 'REAL', 0, None, 0),
 (8, 'solar', 'REAL', 0, None, 0),
 (9, 'oil', 'REAL', 0, None, 0),
 (10, 'wind', 'REAL', 0, None, 0),
 (11, 'nuclear', 'REAL', 0, None, 0)]

In [49]:
pd.read_sql('select * from elect', db, index_col="index")

,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
index,,,,,,,,,,,
0,Afghanistan,AFG,2000,0.000000,0.155,0.312,0.000000,0.000,0.0,0.0,0.0
1,Afghanistan,AFG,2001,0.000000,0.094,0.498,0.000000,0.000,0.0,0.0,0.0
2,Afghanistan,AFG,2002,0.000000,0.132,0.555,0.000000,0.000,0.0,0.0,0.0
3,Afghanistan,AFG,2003,0.000000,0.309,0.630,0.000000,0.000,0.0,0.0,0.0
4,Afghanistan,AFG,2004,0.000000,0.329,0.565,0.000000,0.000,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...
6236,Zimbabwe,ZWE,2015,4.311780,0.000,4.940,0.128000,0.008,0.0,0.0,0.0
6237,Zimbabwe,ZWE,2016,3.714880,0.000,2.955,0.147000,0.009,0.0,0.0,0.0
6238,Zimbabwe,ZWE,2017,3.218560,0.000,3.929,0.151000,0.011,0.0,0.0,0.0
6239,Zimbabwe,ZWE,2018,3.932020,0.000,5.000,0.187000,0.014,0.0,0.0,0.0
6240,Zimbabwe,ZWE,2019,3.805433,0.000,5.020,0.206667,0.014,0.0,0.0,0.0

In [52]:
query = 'select distinct country from elect'
countries = pd.read_sql(query,db)

In [53]:
'Uzbekistan' in countries['country'].values

True

In [55]:
query = 'select * from elect where country="Uzbekistan"  and year>2015'
dfuz = pd.read_sql(query,db)
dfuz

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,5980,Uzbekistan,UZB,2016,10.783891,36.678911,7.254000,0.0,0.004643,1.282778,0.0,0.0
1,5981,Uzbekistan,UZB,2017,10.998707,37.409561,8.343000,0.0,0.006290,1.308332,0.0,0.0
2,5982,Uzbekistan,UZB,2018,11.853192,40.315893,5.838030,0.0,0.006827,1.409975,0.0,0.0
3,5983,Uzbekistan,UZB,2019,12.297660,41.827647,5.451373,0.0,0.006827,1.462846,0.0,0.0

In [56]:
## BETWEEN >>> oraliqda degani

In [58]:
query = 'select * from elect where country="Uzbekistan"  and year between 2010 and 2020'
dfuz = pd.read_sql(query,db)
dfuz

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,5974,Uzbekistan,UZB,2010,9.792027,30.199200,8.110000,0.0,0.000000,1.164793,0.0,0.0
1,5975,Uzbekistan,UZB,2011,10.534094,32.487781,5.646000,0.0,0.000000,1.253064,0.0,0.0
2,5976,Uzbekistan,UZB,2012,10.365016,31.966333,6.586000,0.0,0.000000,1.232952,0.0,0.0
3,5977,Uzbekistan,UZB,2013,10.939346,33.737603,5.647000,0.0,0.001996,1.301270,0.0,0.0
4,5978,Uzbekistan,UZB,2014,11.112674,34.272157,6.014000,0.0,0.002046,1.321888,0.0,0.0
5,5979,Uzbekistan,UZB,2015,10.519789,35.780629,6.998000,0.0,0.002176,1.251363,0.0,0.0
6,5980,Uzbekistan,UZB,2016,10.783891,36.678911,7.254000,0.0,0.004643,1.282778,0.0,0.0
7,5981,Uzbekistan,UZB,2017,10.998707,37.409561,8.343000,0.0,0.006290,1.308332,0.0,0.0
8,5982,Uzbekistan,UZB,2018,11.853192,40.315893,5.838030,0.0,0.006827,1.409975,0.0,0.0
9,5983,Uzbekistan,UZB,2019,12.297660,41.827647,5.451373,0.0,0.006827,1.462846,0.0,0.0

In [59]:
### in( ) >>> ichiga istalgancha malumot bn murojat qilsak boladi

In [61]:
query = 'select * from elect where country="Uzbekistan"  and year in (2010,2015,2019)'
pd.read_sql(query,db)

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,5974,Uzbekistan,UZB,2010,9.792027,30.199200,8.110000,0.0,0.000000,1.164793,0.0,0.0
1,5979,Uzbekistan,UZB,2015,10.519789,35.780629,6.998000,0.0,0.002176,1.251363,0.0,0.0
2,5983,Uzbekistan,UZB,2019,12.297660,41.827647,5.451373,0.0,0.006827,1.462846,0.0,0.0

In [62]:
### like

In [64]:
query = 'select * from elect where country like "%stan" and year in (2015,2016,2017)'   # %stan bn tugagan davlar malumotini oldik
pd.read_sql(query,db)

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,15,Afghanistan,AFG,2015,0.000000,0.144000,1.001,0.000000,0.033000,0.000000,0.000,0.000
1,16,Afghanistan,AFG,2016,0.000000,0.150000,1.025,0.000000,0.035000,0.000000,0.000,0.000
2,17,Afghanistan,AFG,2017,0.000000,0.168000,1.050,0.000000,0.038000,0.000000,0.000,0.000
3,2843,Kazakhstan,KAZ,2015,60.684348,15.595968,9.176,0.003000,0.118000,0.986744,0.132,0.000
4,2844,Kazakhstan,KAZ,2016,57.936060,18.186192,11.505,0.004000,0.136000,1.576268,0.275,0.000
5,2845,Kazakhstan,KAZ,2017,66.816140,18.444680,11.098,0.002000,0.160000,0.735080,0.340,0.000
6,2959,Kyrgyzstan,KGZ,2015,1.688910,0.000000,10.989,0.000000,0.000000,0.125290,0.000,0.000
7,2960,Kyrgyzstan,KGZ,2016,1.547147,0.000000,11.379,0.000000,0.000000,0.114773,0.000,0.000
8,2961,Kyrgyzstan,KGZ,2017,1.147234,0.000000,14.061,0.000000,0.000000,0.085106,0.000,0.000
9,4299,Pakistan,PAK,2015,1.265536,24.070495,34.287,2.027713,0.367668,40.944309,0.786,4.333
10,4300,Pakistan,PAK,2016,1.464795,27.860409,31.861,2.741104,0.853702,47.391015,1.409,5.439
11,4301,Pakistan,PAK,2017,2.027006,30.437095,27.646,3.317367,0.889000,51.773999,2.101,8.109
12,5491,Tajikistan,TJK,2015,0.000000,0.000000,16.830,0.000000,0.000000,0.152280,0.000,0.000
13,5492,Tajikistan,TJK,2016,0.000000,0.000000,16.466,0.000000,0.000000,0.564000,0.000,0.000
14,5493,Tajikistan,TJK,2017,0.000000,0.000000,16.962,0.000000,0.000000,0.922140,0.000,0.000
15,5700,Turkmenistan,TKM,2015,0.000000,7.230322,0.003,0.000000,0.000000,13.951638,0.000,0.000
16,5701,Turkmenistan,TKM,2016,0.000000,7.230322,0.003,0.000000,0.000000,13.951638,0.000,0.000
17,5702,Turkmenistan,TKM,2017,0.000000,7.230322,0.003,0.000000,0.000000,13.951638,0.000,0.000
18,5979,Uzbekistan,UZB,2015,10.519789,35.780629,6.998,0.000000,0.002176,1.251363,0.000,0.000
19,5980,Uzbekistan,UZB,2016,10.783891,36.678911,7.254,0.000000,0.004643,1.282778,0.000,0.000
20,5981,Uzbekistan,UZB,2017,10.998707,37.409561,8.343,0.000000,0.006290,1.308332,0.000,0.000

In [65]:
query = 'select * from elect where code like "%A__" and year in (2015,2016,2017)'  
pd.read_sql(query,db)

,index,country,code,year,coal,gas,hydro,renewable_other,solar,oil,wind,nuclear
0,15,Afghanistan,AFG,2015,0.000000,0.144000,1.001000,0.000000,0.033000,0.000000,0.000000,0.00000
1,16,Afghanistan,AFG,2016,0.000000,0.150000,1.025000,0.000000,0.035000,0.000000,0.000000,0.00000
2,17,Afghanistan,AFG,2017,0.000000,0.168000,1.050000,0.000000,0.038000,0.000000,0.000000,0.00000
3,70,Albania,ALB,2015,0.000000,0.000000,5.836050,0.000000,0.001000,0.000000,0.000000,0.00000
4,71,Albania,ALB,2016,0.000000,0.000000,7.704180,0.000000,0.002000,0.000000,0.000000,0.00000
5,72,Albania,ALB,2017,0.000000,0.000000,4.479750,0.000000,0.001000,0.000000,0.000000,0.00000
6,125,American Samoa,ASM,2015,0.000000,0.000000,0.000000,0.000000,0.000000,0.163000,0.000000,0.00000
7,126,American Samoa,ASM,2016,0.000000,0.000000,0.000000,0.000000,0.000000,0.170000,0.000000,0.00000
8,127,American Samoa,ASM,2017,0.000000,0.000000,0.000000,0.000000,0.000000,0.167000,0.000000,0.00000
9,145,Angola,AGO,2015,0.000000,2.293709,5.037000,0.042000,0.018000,1.918431,0.000000,0.00000
10,146,Angola,AGO,2016,0.000000,2.326981,5.757000,0.155000,0.018271,1.946259,0.000000,0.00000
11,147,Angola,AGO,2017,0.000000,1.569407,7.576000,0.200000,0.018000,1.312633,0.000000,0.00000
12,165,Antarctica,ATA,2015,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001000,0.00000
13,166,Antarctica,ATA,2016,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.001000,0.00000
14,167,Antarctica,ATA,2017,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000
15,185,Antigua and Barbuda,ATG,2015,0.000000,0.000000,0.000000,0.000000,0.005355,0.320000,0.000000,0.00000
16,186,Antigua and Barbuda,ATG,2016,0.000000,0.000000,0.000000,0.000000,0.005512,0.323000,0.000000,0.00000
17,187,Antigua and Barbuda,ATG,2017,0.000000,0.000000,0.000000,0.000000,0.006142,0.323000,0.000000,0.00000
18,220,Argentina,ARG,2015,2.486805,71.292629,31.939380,1.194000,0.015000,23.760605,0.593000,6.51900
19,221,Argentina,ARG,2016,1.977035,76.574269,29.404980,1.214000,0.014000,21.952556,0.548000,7.67700
20,222,Argentina,ARG,2017,2.201838,84.051340,31.459230,1.389000,0.016000,12.762662,0.612000,5.71627
21,241,Armenia,ARM,2015,0.000000,2.632940,2.184000,0.000000,0.001000,0.000000,0.003000,2.57100
22,242,Armenia,ARM,2016,0.000000,2.426140,2.327000,0.000000,0.001000,0.000000,0.002000,2.19500
23,243,Armenia,ARM,2017,0.000000,2.699680,2.246000,0.000000,0.003000,0.000000,0.002000,2.41100
24,261,Aruba,ABW,2015,0.000000,0.000000,0.000000,0.000000,0.010712,0.746000,0.165000,0.00000
25,262,Aruba,ABW,2016,0.000000,0.000000,0.000000,0.004800,0.010712,0.760000,0.134000,0.00000
26,263,Aruba,ABW,2017,0.000000,0.000000,0.000000,0.000000,0.010712,0.790000,0.133000,0.00000
27,331,Australia,AUS,2015,151.422286,47.509026,13.324000,3.609000,5.023000,5.867428,11.467000,0.00000
28,332,Australia,AUS,2016,154.278963,46.128216,15.021000,3.723000,6.209000,5.560921,12.199000,0.00000
29,333,Australia,AUS,2017,147.973865,51.446456,16.037000,3.501000,8.071000,5.089838,12.597000,0.00000
30,352,Austria,AUT,2015,2.954260,7.663649,37.156866,4.647755,0.937098,3.649924,4.840321,0.00000
31,353,Austria,AUT,2016,2.042629,8.487642,39.971337,4.780369,1.096016,3.643051,5.234838,0.00000
32,354,Austria,AUT,2017,1.757850,10.913953,38.293750,4.920934,1.268971,3.703373,6.571511,0.00000
33,388,Azerbaijan,AZE,2015,0.000000,10.721301,1.621000,0.182000,0.005000,10.766159,0.005000,0.00000
34,389,Azerbaijan,AZE,2016,0.000000,10.675806,1.939000,0.174000,0.035000,10.720474,0.023000,0.00000
35,390,Azerbaijan,AZE,2017,0.000000,10.479756,1.729000,0.170000,0.037000,10.523604,0.022000,0.00000
36,3741,Netherlands Antilles,ANT,2015,0.000000,0.000000,0.000000,0.000000,0.022034,0.692780,0.240000,0.00000
37,3742,Netherlands Antilles,ANT,2016,0.000000,0.000000,0.000000,0.000000,0.024501,0.690900,0.235000,0.00000
38,3743,Netherlands Antilles,ANT,2017,0.000000,0.000000,0.000000,0.000000,0.023531,0.660820,0.269500,0.00000
39,5846,United Arab Emirates,ARE,2015,0.000000,119.447841,0.000000,0.006000,0.295000,0.003159,0.003000,0.00000
40,5847,United Arab Emirates,ARE,2016,0.000000,121.526803,0.000000,0.006000,0.309000,0.003197,0.001000,0.00000
41,5848,United Arab Emirates,ARE,2017,0.000000,125.784887,0.000000,0.006000,0.734000,0.003113,0.001000,0.00000